.hinh1312070{
	margin-left: 23%;
	margin-top: 20px;
}

.hinh1312070 img{
	display: inline-block;
	padding-right: 10px;
	width: 400px;
	height: 300px;
}

.gioithieu{
	display: inline-block;
	width: 350px;
	height: 300px;
}

.gioithieu img{
	float: left;
	width: 350px;
	height: 200px;
}

.baidang{
	
}