.hinh1312070{
	margin-left: 23%;
	margin-top: 20px;
}

.hinh1312070 img{
	display: inline-block;
	padding-right: 10px;
	width: 400px;
	height: 300px;
}

.gioithieu{
	display: inline-block;
	width: 350px;
	height: 300px;
}

.gioithieu img{
	float: left;
	width: 350px;
	height: 200px;
}

.baidang{
	margin-left: 23%;
	margin-right: 8%;
}

.baidang i{
	color: #BF2323;
	font-size: 30px;
}

.comment{
	margin-left: 23%;
	margin-bottom: 40px;
	margin-right: 8%;
}

.comment h2{
	background-color: #B46438;
}

.comment img{
	width: 50px;
	height: 50px;
}

.comment input{
	width: 650px;
	height: 80px;
}

a:hover{ background: white;}
a:active{color: #FE0808;}
#left_menu li a:hover{background: white;}
#left_menu li a:active{color: #FE0808;}
