*{margin: 0px; padding: 0px;}
body{
	background-image:url("../IMAGE/picture7.jpg"); 
}
#header {
	     height: 80px;
	     margin-bottom: 1px;
	 	position: relative; 
	 	width: 80%; 
	 	margin: auto;
	 	color: white;
	    font-family: Trebuchet MS, Arial, Sans-Serif;
		font-size: 30;
		font-weight: bold;
		vertical-align: baseline;
		padding-top: 30px;
	}
#nav{border-bottom: 4px solid;
	background: #92A3BA;
	clear: both;
	height:40px;
	padding-bottom:1px; 
	margin: auto;
	width: 80%;
	font-size: 30;
	}	     
#nav ul li {list-style: none; float: left; padding: 5px 10px; width: auto;}
#nav ul li a{text-decoration: none;}
.clear{clear: both;}
#main{
	<!--border: 20px double;-->
	border-color: #E58C56;
	position: relative;
	width: 80%;
	background: #FFFFFF;
	min-height: 1000px;
	display: block;
	padding-bottom: 20px;
	margin: 0 auto;
	min-height: 1000px;
	background-image:url("../IMAGE/2.jpg"); 

	
	}
	#left_menu{
		width: 15%;
		min-height: 1000px;
		float: left;
		background: #92A3BA;
		margin: 0 auto;
	}
	#left_menu li{list-style: none; }
	#left_menu li a{text-decoration: none;font-size: 25; padding-left: 5%;}
	#content
	{
		width: 85%;
		min-height: 1000px;
		float: left ;
		margin: 0 auto;
	
	}
		#d1{ color: black;
			 text-align: center; 
			 font-size: 45; 
			 padding-top: 50px;
			 display: left;}
		#w1{width: 80%;}
		#image{width: 220px; 
				height: 180px;
				padding-top: 100px; 
				text-align: center; 
				margin: left;
				float: left; 
				padding-left: 50px; }
		#nd{font-size: 23;  
			width: 50%;
			float: right; 
			padding-top:  15%; 
			text-align: left; 
			padding-left: 40px;}
		#nd ul li{list-style: none;}
		#baidang1{ width: 40%; 
			height: 40%; 
			float: left; 
			clear: both; 
			margin-top: 50px; 
			margin-left: 20px;
			background-image:url("../IMAGE/bg.jpg"); 
			background-attachment:scroll; 
			background-position:bottom; }
		#baidang2{ width: 40%; 
				height: 40%; 
				float: right; 
				margin-top: 50px;
				margin-left: 20px; 
				margin-right: 20px;
				background-image:url("../IMAGE/bg.jpg");
				background-attachment:scroll; 
				background-position:bottom;}
		#cm{ width: 920px;  
			float: botttom; 
			padding-left: 80px;
			margin-top: 30px;}
		p {color: #1529EA; 
			font-size: 30; 
			font-family: Trebuchet MS, Arial, Sans-Serif; 
			font-weight: bold; 
			padding-top: 50px; }
#ft{
	width: 980;
	height:100;
	clear: both;
	margin: 0 auto;
	float: bottom;
	color: #FFFFFF;
	text-align: center;
}
a:hover{ background: white;}
a:active{color: #FE0808;}
#left_menu li a:hover{background: white;}
#left_menu li a:active{color: #FE0808;}